@font-face {
  font-family: 'quicksand';
  src: url('./../public/fonts/quicksand/Quicksand_Book.otf') format('otf');
}

*{
  font-family: 'quicksand';
}

body{
  background-color: #000;
  background-image: url(./../public/background/background-body.png);
  background-size:9rem;
  background-repeat: repeat;
}


